@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model IEnumerable<Checlist.DTOs.Action>
@{
    ViewBag.Title = "Action data";
}

@section Styles
{
    <style type="text/css">
        .table {
            margin-top: 50px;
        }

        td {
            vertical-align: middle !important;
        }

        .btn-create-open {
            margin-bottom: 10px;
        }

        .checkbox, .checkbox-input {
            width: 20px;
            height: 20px;
        }

        .checkbox-label {
            margin: 0;
        }
    </style>
}

@await Html.PartialAsync("_CreatePartial")

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Done</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var action in ViewBag.Actions)
        {
            var index = ViewBag.Actions.IndexOf(action) + 1;
            <tr>
                <th scope="row">@index</th>
                <td>@action.Name</td>
                <td>@action.Date</td>
                <td>
                    <div class="checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox"
                                   class="checkbox-input"
                                   value="@action.Done"
                                   @if (action.Done) { <text> checked </text> } />
                        </label>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>